# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env
env/

# PyCharm project settings
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and data
*.log
*.csv
*.sqlite3

# System files
.DS_Store
Thumbs.db
